footer {
    width: 100%;
    height: 200px;
    background-image: url(../img/like.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 200px;

    flex: 0 0 200px;
}